@font-face {
        font-family:Antonio;
        src: url('Antonio-VariableFont_wght.ttf');
    }

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Antonio;
}
html{
    scroll-behavior:smooth;
}

html, body {
	height: 100%;
	}

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 16%;
    background-color:white;
    overflow: hidden;
}

.navbar img {
    float:left;
    width: 64px;
    height: 90px;
    margin: 5px;
    margin-left:100px;
}

.navbar ul{
    margin-right: 100px;
}

.navbar li{
    font-size: 130%;
    float: right; 
    color: black;  
    list-style-type: none;
    margin-top: 24px; 
    margin-left: 1px;
    padding: 10px;
    border: 1px solid black;
}

.navbar li a {
    color:inherit;
    display: block;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #353535;
    transition-duration: 700ms;
    color: white;
    
}

#conteudoIndex {
    position: relative;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
}

#imagemIndex{
    margin-top: 140px;
    float: left;
    height: 277px;
    width: 485px;
    border-radius: 200px;
    overflow: hidden;
    
}

#imagemIndex img{
    height: 100%;
    width: 100%;
}

#textosIndex{
    float: right;
    margin-top: 140px;
    height: 300px;
    width: 500px;
}

#txtBemVindo{ 
    font-size: 200%;
    width: 500px;
    text-align: center;
}

#txtResumoIndex{
    font-size: 110%;
    width: 500px;
    text-align:center;
}

#caixaBotoes{
    width: 500px;
    height: 200px;
}

.botoes{ 
    text-align: center;
    width: 490px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    border: 1px solid black;
    float: right ;
    color: black;
}

.botoes:hover{
    background-color: #353535;
    color: white;
    transition-duration: 700ms;
}








#conteudoSobre{
    position: relative;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    background-color: #353535;
}

#textosSobre{
    float: left;
    width: 500px;
    height: 300px;
    margin-top: 140px;
}

#txtSobre{
    float: right;  
    font-size: 200%;
    width: 500px;
    text-align: center;
    color: white;
}

#txtResumoSobre{
    font-size: 110%;
    width: 500px;
    text-align:center;
    color: white;
}

#imagemSobre{
    margin-top: 140px;
    float: right;
    height: 277px;
    width: 485px;
    border-radius: 200px;
    overflow: hidden;
    
}

#imagemSobre img{
    height: 100%;
    width: 100%;
}






#conteudoObjetivos{
    position: relative;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    background-color:white;
}

#textosObjetivos{
    float: right;
    width: 500px;
    height: 300px;
    margin-top: 140px;
}

#txtObjetivos{
    float: right;  
    font-size: 200%;
    width: 500px;
    text-align: center;
    color: Black;
}

#txtResumoObjetivos{
    font-size: 110%;
    width: 500px;
    text-align:center;
    color: black;
}

#imagemObjetivos{
    margin-top: 140px;
    float: left;
    height: 277px;
    width: 485px;
    border-radius: 200px;
    overflow: hidden;
    
}

#imagemObjetivos img{
    height: 100%;
    width: 100%;
}






#conteudoPortfolio{
    position: relative;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    background-color:#353535;
}

#txtPortfolio{  
    margin: 10px auto;
    font-size: 200%;
    width: 500px;
    text-align: center;
    color: white;
}


































#rodape{
    width: 100%;
    height: 16%;
    background-color:#353535;
}

#conteudoRodape{
    margin-right: 100px;
    margin-left: 100px;
}

#contatos{
    float:left;
    width: 200px;
    height: 100px;
    text-align: center;  
}

#txtContatos{
    text-align: center;
    font-size:120%;
    color: white;
    width: 190px;
    padding: 5px;

}

.meiosContato{
    text-align: center;
    font-size: 100%;
    color: white;
    width: 190px;
    padding:5px;
}

#redes{
    float: right;
    width: 200px;
    height: 100px;
    text-align: center;
}
#txtRedes{
    text-align: center;
    font-size:120%;
    color: white;
    width: 190px;
    padding:5px;
}
.icones a{
    float:right;
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-right: 38px;
}
.icones img{
    width: inherit;
    height: inherit;
}
.icones:hover{
    opacity: 0.4;
    transition-duration: 700ms;
}